* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  position: relative;
  z-index: 2;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
}

nav a:hover {
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  font-weight: bold;
  font-size: 1rem;

  justify-content: center;
  align-items: center;
}

nav ul:hover {
  cursor: pointer;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -75%);
}
